<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mfwis415a.food4life">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/diet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/diet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addmeal.AddMeal"
            android:label="Hinzufügen" />
        <activity
            android:name=".foodlist.FoodList"
            android:label="Lebensmittel" />
        <activity
            android:name=".menulist.MenuList"
            android:label="Menü-Übersicht" />
        <activity
            android:name=".unitlist.UnitList"
            android:label="Einheiten-Übersicht" />
        <activity
            android:name=".profile.Profile"
            android:label="Mein Profil" />
        <activity
            android:name=".calendar.Calendar"
            android:label="Kalender" />
        <activity
            android:name=".addfood.AddFood"
            android:label="Lebensmittel Hinzufügen" />
        <activity
            android:name=".editordeletefood.EditOrDeleteFood"
            android:label="Bearbeiten/ Löschen" />
        <activity
            android:name=".addmenu.AddMenu"
            android:label="Menü hinzufügen" />
        <activity
            android:name=".statistics.Statistics"
            android:label="Statistische Auswertungen" />
        <activity
            android:name=".editordeletemeal.EditOrDeleteMeal"
            android:label="Eintrag bearbeiten" />
        <activity
            android:name=".editordeletemenu.EditOrDeleteMenu"
            android:label="Menü bearbeiten" />
        <activity
            android:name=".addunit.AddUnit"
            android:label="Einheit hinzufügen" />
        <activity
            android:name=".editordeleteunit.EditOrDeleteUnit"
            android:label="Einheit bearbeiten" />
    </application>

</manifest>